<h1>
  Add a new playlist
</h1>


<hr>

<form action="/create_playlist" method="post">

  <div class="form-group">
    <div class="form-group">
  <fieldset>
    <label class="control-label" for="readOnlyInput">User</label>
    <input class="form-control" id="readOnlyInput" type="text" placeholder="<%=current_user.username%>" readonly="">
  </fieldset>
</div>

<div class="form-group">
    <label for="playlist_name">
      Playlist name
    </label>
        <input type="text" id="playlist_name" name="playlist_name" class="form-control" placeholder = "Choose a cool and original name!">
  </div>

  
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3" placeholder = "Tell the world about your playlist!"></textarea>
  </div>

   <!--
   <div class="form-group">
   <label for="spotify_playlist_id">
     Spotify playlist
    </label>

    <input type="text" id="spotify_playlist_id" name="spotify_playlist_id" class="form-control">
  </div> 
  -->

  <button class="btn btn-block btn-outline-secondary">
    Create playlist
  </button>
</form>

<hr>

<a href="/playlists">
  Go back
</a>
